* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.hidden {
    display: none !important;
    transition: .5s;
}

/* NavBar */
.navBar {
    box-shadow: 0px 1px 4px rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menú-logo */
.navBar > .imgMenu {
    padding: 10px;
    margin-left: 20px;
}

.navBar > .imgMenu > a {
    color: black;
    text-decoration: none;
}

.navBar > .imgMenu > i.fa {
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
    transition: .5s;
}

.navBar > .imgMenu > a > i.fa:hover {
    background-color: #3c40431a;
}

.navBar > .imgMenu > img {
    width: 100px;
    height: 100px;
}

/* Buscador */
.navBar > .buscador  {
    background-color: #3c40431a;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.navBar > .buscador > i.fa {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navBar > .buscador > #buscador {
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
    width: 50%;
    height: 35px;
    padding-left: 15px;
    font-size: 18px;
}

.navBar > .buscador > #buscador::placeholder {
    font-weight: 600;
    color: gray;
    font-size: 18px;
}

/* User */
.userImg {
    border: 1px solid rgb(0 0 0 / 10%);
    margin-right: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.userAccount {
    position: fixed;
    top: 110px;
    right: 50px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    box-shadow: 3px 6px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userAccount > #logoUser {
    border: 1px solid rgb(0 0 0 / 10%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    margin-bottom: 10px;
}

.userAccount > .nombre {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
}

.userAccount > .correo {
    margin-top: 5px;
}

.userAccount > hr {
    width: 100%;
}

.userAccount > .verCuenta {
    margin-bottom: 10px;
}

/* Blog Structure */
.blogStructure {
    width: 100%;
}