* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.w0 {
    width: 1% !important;
}

.wC {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
    transition: .5s;
}

/* NavBar */
.navBar.dark {
    background: #555 !important;
    color: white;
}

.navBar.dark .enlace > a {
    color: white !important;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
    transition: .5s;
}

/* Menú-logo */
.navBar > .imgMenu {
    padding: 10px;
    margin-left: 20px;
}

.navBar > .imgMenu > a {
    color: black;
    text-decoration: none;
}

.navBar > .imgMenu > i.fa {
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
    transition: .5s;
}

.navBar > .imgMenu > a > i.fa:hover {
    background-color: #3c40431a;
}

.navBar > .imgMenu > a > img {
    width: 100px;
    height: 100px;
}

/* Buscador */
#buscadorEnlace  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c40431a;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

#buscadorEnlace > i {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

#buscadorEnlace > #buscador {
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
    height: 35px;
    padding-left: 15px;
    font-size: 18px;
}

.navBar > #enlaces.dark > .enlace a {
    color: white;
}

.navBar > #enlaces {
    display: flex;
    align-items: center;
    margin: 0;
}

.navBar > #enlaces > .enlace {
    list-style: none;
    margin-right: 20px;
}

.navBar > #enlaces > .enlace a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

/* Buscador */
.buscador {
    background-color: #00000021;
    padding: 5px;
    border-radius: 10px;
}

.buscador > input:focus-visible {
    outline: none;
}

.buscador > input {
    background: transparent;
    border: none;
    margin-left: 5px;
}

.enlace > #check {
    display: none;
}

.enlace > .modoOscuro {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #838383;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.modoOscuro::after {
    content: "\f186";
    display: flex;
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

#check:checked + .modoOscuro {
    background: orange;
}

#check:checked + .modoOscuro::after {
    content: "\f185";
    left: 36px;
}

.toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 38px;
    right: 25px;
    background: url(../../img/openSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

.toggle.active {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../../img/closeSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

/* User */
.userImg {
    border: 1px solid rgb(0 0 0 / 10%);
    margin-right: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.userAccount {
    position: fixed;
    top: 110px;
    right: 50px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    box-shadow: 3px 6px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.userAccount > #logoUser {
    border: 1px solid rgb(0 0 0 / 10%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    margin-bottom: 10px;
}

.userAccount > .nombre {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
}

.userAccount > .correo {
    margin-top: 5px;
}

.userAccount > hr {
    width: 100%;
}

.userAccount > a > .verCuenta {
    margin-bottom: 10px;
}

/* No token */
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e8;
    color: white;
    z-index: 11000;
}

.login > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 5px;
    padding: 20px;
    color: black;
    background-color: white;
    box-shadow: 3px 4px 6px rgb(255 255 255 / 50%);
}

.login > .content > p {
    font-size: 20px;
}

.login > .content > a {
    font-size: 20px;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 50%);
}

/* Spinner */
.spinner::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: #ffa500d1;
    width: 100%;
    height: 100%;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffa500bd;
}

.spinner > i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 92px;
    color: white;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.spinner::after {
    position: fixed;
    top: 39%;
    left: 44%;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 25px;
    background: white;
    font-size: 25px;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 50%);
    z-index: 100000;
}

/* Menú */
.blogStructure {
    width: 100%;
    margin-top: 125px;
    min-height: 75ch;
}

.blogStructure > .menuBlog {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    border-right: 1px solid rgb(0 0 0 / 50%);
    background-color: white;
    transition: .5s;
}

.blogStructure > .menuBlog > .close {
    display: none;
}

.blogStructure > .menuBlog > .blogsTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.blogsTitles > .blogActual {
    font-weight: 600;
    font-size: 25px;
}

.blogsTitles > .blogActual > i {
    margin-left: 10px;
}

.blogsTitles > .tusBlogs {
    position: fixed;
    top: 0;
    left: 25%;
    transform: translate(15%, 41%);
    width: 274px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
}

.blogsTitles > .tusBlogs > .titleTusBlogs {
    color: gray;
    margin-bottom: 7px;
}

.blogsTitles > .tusBlogs > .blogActualLista {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid rgb(0 0 0 / 50%);
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    transition: .5s;
}

.blogsTitles > .tusBlogs > .blogActualLista > span {
    padding: 5px;
    margin-bottom: 10px !important;
}

.blogsTitles > .tusBlogs > .blogActualLista > span:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    transition: .5s;
}

.blogsTitles > .tusBlogs > .crearBlog > a {
    text-decoration: none;
    color: inherit;
}

/* Lista de Menú */
.listaMenuBlog {
    padding: 0;
    width: 100%;
}

.listaMenuBlog > .itemBlog {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid rgb(0 0 0 / 50%);
}
.listaMenuBlog > .itemBlog:hover {
    background-color: #eee;
}

.listaMenuBlog > .itemBlog > i {
    margin: 0px 10px;
}

.listaMenuBlog > .itemBlog.active {
    color: orange;
    font-weight: 600;
}

/* Articulos */
.articulosResultados {
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: all .5s;
}

.noHay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.noHay > p {
    font-weight: 700;
    font-size: 20px;
}

.articulosResultados > .articuloMini {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    padding: 15px;
    border-top: 10px solid orange;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
}

.articuloMini > .topArticle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
}

.topArticle > .imgArticle {
    max-height: 105px;
    max-width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.topArticle > .articleText {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.topArticle > .articleText > .titleArticle {
    font-weight: 600;
    font-size: 18px;
    color: gray;
}

.topArticle > .articleText > .descArticle {
    margin: 5px 0px;
    color: gray;
    word-break: break-all;
}

.articulosResultados > .articuloMini > .fechaArticle {
    font-size: 18px;
    font-weight: 600;
    float: right;
}

.articulosResultados > .articuloMini > .buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btnRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.btnArticulo {
    margin-right: 10px;
    width: 47%;
}

/* Creacion de blog */
.creacionDeBlog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creacionDeBlog > .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid white;
    border-top: 10px solid orange;
    padding: 20px;
    border-radius: 10px;
}

.formulario > p {
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.formulario > label {
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

.formulario > input:focus-visible {
    outline: none;
}

.formulario > input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid orange;
    width: 100%;
    font-size: 20px;
}

#btnCrearBlog {
    margin-top: 20px;
    width: 100%;
}

/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
}

/* Editar/Escribir artículo */
.editArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 100vh;
    padding: 10px;
}

.editArticulo.edicion > .escribirArticulos > #conHtml {
    width: 95%;
}

.editArticulo.edicion > .escribirArticulos > #categoriasLista {
    display: none;
}

.editArticulo > .barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.barra > #titulo:focus-visible,
#imgDeVentana {
    outline: none;
}

.barra > #titulo {
    width: 75%;
    border: none;
    border-bottom: 1px solid orange;
    font-size: 20px;
    padding: 5px;
}

.btnsParaEdicion {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    top: 34px;
}

.btnsParaEdicion > button {
    margin: 5px 3px;
    height: 40px;
}

.vistaPrevia {
    width: 100%;
    width: 95%;
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: center;
}

.textareas {
    width: 90%;
    min-height: 75vh;
    resize: none;
    padding: 10px;
}

#resultado {
    display: flex;
    flex-direction: column;
}

/* Clases para textos */
.alignBtns,
.textBtns {
    position: fixed;
    width: 45px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #000000de;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.alignBtns > div,
.textBtns > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textBtns button,
.alignBtns button {
    margin-bottom: 5px;
}

.alignLeft {
    text-align: left !important;
    margin-bottom: 0;
}

.alignCenter {
    text-align: center !important;
    margin-bottom: 0;
}

.alignJustify {
    text-align: justify !important;
    margin-bottom: 0;
}

.alignRight {
    text-align: right !important;
    margin-bottom: 0;
}

.windowLink {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 10px;
    background: #000000d1;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.windowLink > div {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 3px 4px 7px rgb(255 255 255 / 50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    border-top: 15px solid orange;
    background: white;
    border-radius: 5px;
}

.desdeUrl {
    display: flex;
    flex-direction: column;
}

.desdeDentro {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.urlVentana > div > label {
    font-weight: 600;
    font-size: 17px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    margin-bottom: 5px;
}

.urlVentana > div > input:focus-visible,
#imgPortadaUrl {
    outline: none;
}

.urlVentana > div > input {
    padding: 5px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid orange;
}

#imgDeVentana,
#imgPortadaUrl {
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
    font-size: 15px;
    padding: 5px;
}

#peticion {
    text-align: center;
    margin: 5px;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.imgTextarea {
    width: 75%;
}

.poner {
    margin-top: 10px;
}

.escribirArticulos {
    width: 95%;
    position: absolute;
    top: 110px;
    display: flex;
    justify-content: center;
}

#conHtml {
    width: 75%;
}

#categoriasLista > li {
    list-style: none;
    text-align: center;
    background-color: #87cefaa3;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
    padding: 5px;
}

.windowBorrarArticulo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 50%);
    border-top: 20px solid red;
    border-radius: 5px;
    box-shadow: 3px 4px 7px rgb(0 0 0 / 50%);
    padding: 10px;
}

.windowBorrarArticulo > p {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    font-weight: 600;
}

.windowBorrarArticulo > button {
    font-size: 20px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
}

.windowBorrarArticulo > .closeDelete {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
}

.introDeBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: orange;
    color: black;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: white;
    color: black;
    max-width: 500px;
    padding: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    box-shadow: inset 0px 0px 5px 2px rgb(0 0 0 / 30%);
}

.intro > h1,
.intro > h3 {
    margin-bottom: 20px;
}

.intro > p {
    width: 75%;
    font-size: 22px;
}

.intro > #primerSiguiente {
    width: 100%;
    font-size: 22px;
}

.intro > #primersiguiente > .fa-fighter-jet {
    margin-left: 10px;
}

.crearlo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    color: black;
    box-shadow: inset 0px 0px 8px 3px rgb(0 0 0 / 30%);
}

.crearlo > p {
    font-size: 30px;
    font-weight: 600;
}

.crearlo > label {
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

.crearlo > input:focus-visible {
    outline: none;
}

.crearlo > input::placeholder {
    font-weight: 600;
}

.crearlo > input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid orange;
    background: transparent;
    width: 100%;
    font-size: 20px;
}

#segundoSiguiente {
    margin-top: 20px;
    width: 100%;
    font-size: 22px;
}

#segundoSiguiente > .fa-fighter-jet {
    margin-left: 10px;
}

.descripciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orange;
    color: white;
}

.descripciones > .cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    background: white;
    color: black;
    padding: 10px;
    margin: 20px 0px;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    box-shadow: inset 0px 3px 5px 2px rgb(0 0 0 / 30%);
}

.descripciones > h1 {
    margin-top: 25px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.descripciones > .cuadro > span {
    margin: 10px 0px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

#muchoTexto {
    padding: 0 20px;
    margin: 20px 0;
}

.descripciones > .cuadro > img {
    width: 75%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
}

.descripciones > .cuadro > #cuadroDePerfil {
    height: 425px;
    width: 376px;
}

.descripciones > .cuadro > #crearArticulo {
    width: 250px;
}

.descripciones > .cuadro > #hojaDeEstilo {
    width: 90%;
}

#funciones {
    font-size: 35px;
    margin: 10px 0;
}

#ulFunciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

#ulFunciones > li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    border: 1px solid black;
    border-top: 15px solid #535ccf;
    border-radius: 5px;
    background: #ebdfb5;
    color: black;
    padding: 10px;
    text-shadow: none;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
}

#ulFunciones > li > span {
    font-size: 21px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    text-align: center;
    margin: 5px 0px;
}

#ulFunciones > li > img {
    max-width: 95%;
    border: 1px solid rgb(0 0 0 / 50%);
}

#botonesUl > ul {
    width: 100%;
    padding: 0;
}

#botonesUl > ul > li {
    list-style: none;
    padding: 5px;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
}

#botonesUl > p {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0;
    color: blue;
    width: 75%;
    text-align: center;
}

#botonesFinales > span {
    font-size: 20px;
}

.descripciones > button {
    width: 100%;
    margin-bottom: 20px;
    font-size: 25px;
}

.descripciones > button > i {
    margin-left: 10px;
}














/* Media queries */
@media (max-width: 780px) {

    .toggle {
        display: block;
    }

    .navBar > #enlaces {
        display: none;
    }

    #enlaces.active {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #enlaces.active > .enlace {
        margin-bottom: 25px;
    }

}

@media (max-width: 590px) {
    .navBar > .imgMenu > a {
        display: none;
    }

    .navBar {
        min-height: 100px;
    }
}

@media (max-width: 575px) {
    .footer > .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        padding: 20px;
        border-bottom: 1px solid white;
    }
}

@media (max-width: 530px) {
    .editArticulo {
        align-items: unset;
        width: 100%;
    }

    .btnsParaEdicion {
        width: 95%;
        display: flex;
        justify-content: flex-start;
    }

    .editArticulo.edicion > .escribirArticulos > #conHtml {
        width: 95%;
    }
}