* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.w0 {
    width: 1% !important;
}

.wC {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
    transition: .5s;
}

/* NavBar */
.navBar {
    box-shadow: 0px 1px 4px rgb(0 0 0 / 50%);
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menú-logo */
.navBar > .imgMenu {
    padding: 10px;
    margin-left: 20px;
}

.navBar > .imgMenu > a {
    color: black;
    text-decoration: none;
}

.navBar > .imgMenu > i.fa {
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
    padding: 15px;
    transition: .5s;
}

.navBar > .imgMenu > a > i.fa:hover {
    background-color: #3c40431a;
}

.navBar > .imgMenu > a > img {
    width: 100px;
    height: 100px;
}

/* Buscador */
.navBar > .buscador  {
    background-color: #3c40431a;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.navBar > .buscador > i.fa {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
}

.navBar > .buscador > #buscador {
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
    width: 50%;
    height: 35px;
    padding-left: 15px;
    font-size: 18px;
}

.navBar > .buscador > #buscador::placeholder {
    font-weight: 600;
    color: gray;
    font-size: 18px;
}

/* User */
.userImg {
    border: 1px solid rgb(0 0 0 / 10%);
    margin-right: 25px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.userAccount {
    position: fixed;
    top: 110px;
    right: 50px;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    box-shadow: 3px 6px 10px rgb(0 0 0 / 50%);
    padding: 20px;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.userAccount > #logoUser {
    border: 1px solid rgb(0 0 0 / 10%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    margin-bottom: 10px;
}

.userAccount > .nombre {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    letter-spacing: 2px;
}

.userAccount > .correo {
    margin-top: 5px;
}

.userAccount > hr {
    width: 100%;
}

.userAccount > .verCuenta {
    margin-bottom: 10px;
}

/* No token */
.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e8;
    color: white;
    z-index: 11000;
}

.login > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 5px;
    padding: 20px;
    color: black;
    background-color: white;
    box-shadow: 3px 4px 6px rgb(255 255 255 / 50%);
}

.login > .content > p {
    font-size: 20px;
}

.login > .content > a {
    font-size: 20px;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 50%);
}

/* Spinner */
.spinner::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: #ffa500d1;
    width: 100%;
    height: 100%;
}

.spinner::after {
    position: fixed;
    top: 39%;
    left: 44%;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 25px;
    background: white;
    font-size: 25px;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 50%);
    z-index: 100000;
}

/* Menú */
.blogStructure {
    width: 100%;
    margin-top: 2px;
}

.blogStructure > .menuBlog {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    border-right: 1px solid rgb(0 0 0 / 50%);
    background-color: white;
    transition: .5s;
}

.blogStructure > .menuBlog > .close {
    display: none;
}

.blogStructure > .menuBlog > .blogsTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.blogsTitles > .blogActual {
    font-weight: 600;
    font-size: 25px;
}

.blogsTitles > .blogActual > i {
    margin-left: 10px;
}

.blogsTitles > .tusBlogs {
    position: fixed;
    top: 65px;
    left: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
}

.blogsTitles > .tusBlogs > .titleTusBlogs {
    color: gray;
    margin-bottom: 7px;
}

.blogsTitles > .tusBlogs > .blogActualLista {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid rgb(0 0 0 / 50%);
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    transition: .5s;
}

.blogsTitles > .tusBlogs > .blogActualLista > span {
    padding: 5px;
    margin-bottom: 10px !important;
}

.blogsTitles > .tusBlogs > .blogActualLista > span:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    transition: .5s;
}

.blogsTitles > .tusBlogs > .crearBlog > a {
    text-decoration: none;
    color: inherit;
}

/* Lista de Menú */
.listaMenuBlog {
    padding: 0;
    width: 100%;
}

.listaMenuBlog > .itemBlog {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid rgb(0 0 0 / 50%);
}
.listaMenuBlog > .itemBlog:hover {
    background-color: #eee;
}

.listaMenuBlog > .itemBlog > i {
    margin: 0px 10px;
}

.listaMenuBlog > .itemBlog.active {
    color: orange;
    font-weight: 600;
}

/* Articulos */
.articulosResultados {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noHay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.noHay > p {
    font-weight: 700;
    font-size: 20px;
}

.articulosResultados > .articuloMini {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
    padding: 15px;
    border-top: 10px solid orange;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
}

.articuloMini > .topArticle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 100%;
}

.topArticle > .imgArticle {
    max-height: 105px;
    max-width: 20%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.topArticle > .articleText {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.topArticle > .articleText > .titleArticle {
    font-weight: 600;
    font-size: 18px;
    color: gray;
}

.topArticle > .articleText > .descArticle {
    margin: 5px 0px;
    color: gray;
}

.articulosResultados > .articuloMini > .fechaArticle {
    font-size: 18px;
    font-weight: 600;
    float: right;
}

.articulosResultados > .articuloMini > .buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btnRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.btnArticulo {
    margin-right: 10px;
    width: 47%;
}

/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
}

/* Editar/Escribir artículo */
.editArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    padding: 10px;
}

.editArticulo > .barra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0px;
}

.barra > #titulo:focus-visible {
    outline: none;
}

.barra > #titulo {
    width: 75%;
    border: none;
    border-bottom: 1px solid orange;
    font-size: 20px;
    padding: 5px;
}

.btnsParaEdicion {
    margin-bottom: 15px;
    position: fixed;
    top: 12%;
}

.btnsParaEdicion > button {
    margin: 0px 2px;
}

.vistaPrevia {
    width: 100%;
}

.textareas {
    position: absolute;
    top: 20%;
    width: 90%;
    min-height: 75vh;
    resize: none;
    z-index: -1;
}

/* Clases para textos */
.alignBtns {
    position: absolute;
    width: 45px;
    top: 112%;
    right: 24%;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1000;
}

.textBtns {
    position: absolute;
    width: 86px;
    top: 112%;
    left: -4%;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1000;
    justify-content: space-evenly;
}

.textBtns > button {
    margin-bottom: 5px;
}

.alignP {
    margin-bottom: 0;
}

.underline {
    text-decoration: underline;
}
.cursiva {
    font-style: italic;
}
.alignLeft {
    text-align: left !important;
}
.alignCenter {
    text-align: center !important;
}
.alignJustify {
    text-align: justify !important;
}
.alignRight {
    text-align: right !important;
}

.windowLink {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 10px;
    box-shadow: 3px 4px 7px rgb(0 0 0 / 50%);
    border-top: 10px solid orange;
    padding: 10px;
    background: white;
    width: 300px;
    height: 200px;
}

.urlVentana > label {
    font-weight: 600;
    font-size: 17px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    margin-bottom: 5px;
}

.urlVentana > input:focus-visible {
    outline: none;
}

.urlVentana > input {
    padding: 5px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid orange;
}

.poner {
    margin-top: 10px;
}






















@media (max-width: 950px) {
    .menuBlog {
        display: none !important;
    }

    .menuBlog.responsive {
        display: flex !important;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        box-shadow: 3px 0px 5px rgb(0 0 0 / 50%);
    }

    .menuBlog.responsive > .close {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;
        background: gray;
        font-size: 45px;
        padding-right: 10px;
        color: white;
        text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
        cursor: pointer;
    }

    .resultadosDeMenu {
        width: 100%;
    }
}

@media (max-width: 590px) {
    .navBar > .imgMenu > a {
        display: none;
    }

    .navBar {
        min-height: 100px;
    }
}

@media (max-width: 575px) {
    .footer > .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        padding: 20px;
        border-bottom: 1px solid white;
    }
}