* {
    margin: 0;
    padding: 0;
}

body.dark {
    background: #333;
    transition: .5s;
    color: white;
}

body.dark .reciente {
    border: 1px solid white;
}

body.dark .reciente .left {
    border-right: 1px solid white;
}

body.dark .abajo {
    border-top: 1px solid white;
}

body.dark .windowLink > div {
    background-color: #555;
    color: white;
}

.hidden {
    display: none !important;
}

.row {
    --bs-gutter-x: 0;
}

.principal {
    font-weight: 600;
    font-size: 18px;
}

/* Spinner */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffa500e8;
    z-index: 10000;
}

.spinner > i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 92px;
    color: white;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

/* NavBar */
.navBar.dark {
    background: #555;
    color: white;
}

.navBar.dark > #enlaces > .enlace a {
    color: white !important;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
    transition: .5s;
}

.navBar > #presentacion > .imgLogo {
    width: 100px;
}

.navBar > #presentacion > .marca {
    font-weight: 700;
    font-size: 30px;
}

.navBar > #enlaces {
    display: flex;
    align-items: center;
    margin: 0;
}

.navBar > #enlaces > .enlace {
    list-style: none;
    margin-right: 20px;
}

.navBar > #enlaces > .enlace a {
    text-decoration: none;
    color: black !important;
    font-size: 20px;
    font-weight: 600;
}

.navBar > #enlaces > .enlace button {
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    background: orange;
    color: white;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    font-weight: 700;
}

.enlace > #check {
    display: none;
}

.enlace > .modoOscuro {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #838383;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.modoOscuro::after {
    content: "\f186";
    display: flex;
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

#check:checked + .modoOscuro {
    background: orange;
}

#check:checked + .modoOscuro::after {
    content: "\f185";
    left: 36px;
}

body.dark .toggle {
    background: url(../img/openMoon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/openSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

body.dark .toggle.active {
    background: url(../img/closeMoon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle.active {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/closeSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

/* Foro */
.foro {
    margin-top: 95px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foro.dark > .intro {
    background-color: #a57845;
}

.foro.dark .intro > .left > .buscador {
    background-color: #fff7e666;
}

.foro > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: orange;
    width: 100%;
}

.intro > .left {
    padding: 0 20px;
    margin: 10px 0;
    width: 55%;
    text-align: center;
}

.intro > .left > strong {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.intro > .left > p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.intro > .left > .buscador {
    width: 100%;
    background: #fff7e6;
    padding: 5px;
    border-radius: 5px;
}

.intro > .left > .buscador > i {
    font-size: 20px;
    margin-left: 20px;
    width: 5%;
    cursor: pointer;
    color: black !important;
}

.intro > .left > .buscador > input:focus-visible {
    outline: none;
}

.intro > .left > .buscador > input {
    padding: 5px;
    width: 75%;
    margin-left: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
}

.intro > .right {
    width: 45%;
}

.intro > .right > img {
    width: 100%;
}

.titles {
    text-align: center;
    border-top: 15px solid #ff8d00;
    padding: 10px;
    width: 100%;
    box-shadow: 0px -2px 5px rgb(0 0 0 / 30%);
}

.recientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.reciente:hover {
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
}

.reciente {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgb(0 0 0 / 30%);
    box-shadow: 4px 4px 5px rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: .3s;
}

.reciente > .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    border-right: 1px solid rgb(0 0 0 / 30%);
}

.left > a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left > a > img {
    max-width: 110px;
    max-height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0 / 50%);
}

.left > a > span {
    margin-left: 10px;
    text-decoration: none;
    color: orange;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
}

.reciente > .resto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 20px;
    width: 75%;
}

.resto > .titulo {
    font-weight: 600;
    font-size: 20px;
    color: orange;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.resto > .contenido {
    margin: 20px 0;
}

.resto > .abajo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
    color: orange;
    padding-top: 10px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    border-top: 1px solid rgb(0 0 0 / 30%);
}

.resto > .abajo > .fecha {
    text-align: center;
}

/* Discusiones */
.discusiones {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.discusiones > .cadaUna {
    width: 75%;
    margin-top: 15px;
}

.discusiones > .cadaUna > .reciente {
    width: 90%;
}

.ctgs {
    width: 25%;
    padding: 10px;
}

body.dark .ctgs > li {
    color: black;
} 

.ctgs > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background: #ffcb6d;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffcb6d;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.ctgs > li > span {
    margin-right: 5px;
}

.noHay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.noHay > p {
    font-weight: 600;
    font-size: 20px;
}

/* Discusion */
.discusion {
    width: 100%;
    margin-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discusion > h1 {
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form > label {
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0;
}

#descLabel {
    margin-top: 30px;
}

.form > input:focus-visible,
.form > .textareas > textarea,
#resultadoTextarea {
    outline: none;
}

.form > input {
    border: none;
    border-bottom: 1px solid orange;
    background: transparent;
    font-size: 18px;
    padding: 5px;
    width: 50%;
}

.categoriasUl {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#introCategorias {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #000000a6;
}

.categoriasUl > li {
    list-style: none;
    margin-right: 10px;
    padding: 5px;
    background-color: rgb(190 229 255);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.form > .textareas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark .texts > textarea,
body.dark #resultadoTextarea {
    color: white;
}

.texts > textarea,
#resultadoTextarea {
    width: 45%;
    height: 250px;
    padding: 5px;
    border: 2px solid orange;
    resize: none;
    font-size: 15px;
    background: transparent;
}

[contentEditable=false]:empty:not(:focus):before{
    content:attr(placeholder)
}

#descripcion:focus-visible {
    outline: none;
}

#resultadoTextarea {
    overflow: auto;
    word-break: break-all;
}

#resultadoTextarea > img {
    max-width: 90%;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background: orange;
    width: 90%;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
}

.btns > button {
    margin: 0 5px;
    border: 1px solid rgb(0 0 0 / 50%);
}

.windowLink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.85);
    z-index: 1000;
}

.windowLink > div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: white;
    background: white;
    padding: 10px;
    border-top: 15px solid orange;
    border-radius: 10px;
    min-width: 320px;
}

.urlWindow > div > p {
    font-size: 22px;
    font-weight: 600;
    margin: 10px;
}

.urlWindow > div > input:focus-visible {
    outline: none;
}

.urlWindow > div > input {
    border: none;
    border-bottom: 1px solid orange;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
    padding: 5px;
}

.imgWindow > div > label {
    font-weight: 600;
    font-size: 22px;
    margin: 5px;
}

.imgWindow > div > input:focus-visible {
    outline: none;
}

.imgWindow > div > input {
    border: none;
    border-bottom: 1px solid orange;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
}

.imgMala > div > p {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.sinCtg > div > p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.iniciar {
    margin-top: 25px;
}

.verDiscusion {
    margin-top: 110px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.verDiscusion > .top {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.infoDeDiscusion {
    width: 70%;
}

.infoDeDiscusion > .contenido > .imgTextarea {
    max-width: 75%;
}

.autor {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
    text-align: center;
    background-color: #80808042;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.autor > img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

.autor > .campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.autor > .campos > span.principal {
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
    border-top: 1px solid rgb(0 0 0 / 50%);
}

.comments > .escribirComentarioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.escribirComentarioDiv > input:focus-visible {
    outline: none;
}

.escribirComentarioDiv > input {
    width: 75%;
    padding: 5px;
    background: transparent;
    border: 1px solid orange;
    cursor: text;
}

.comments > h2 {
    margin: 10px 0;
}

body.dark .comment {
    border: 1px solid orange;
}

body.dark .comment > .contenido {
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.comment {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.comment > .perfil {
    margin: 10px 0;
    color: orange;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.comment > .perfil > img {
    max-width: 100px;
    max-height: 80px;
    margin-right: 15px;
    border-radius: 50%;
}

.comment > .contenido {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgb(0 0 0 / 30%);
    border-bottom: 1px solid rgb(0 0 0 / 30%);
}

.comment > .fecha {
    color: orange;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.escribirComentario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escribirComentario > .texts > textarea:focus-visible {
    outline: none;
}

.escribirComentario > .texts > textarea,
.escribirComentario > .texts > .resultadoTextareaComment {
    width: 45%;
    height: 250px;
    padding: 5px;
    border: 1px solid orange;
    resize: none;
    font-size: 15px;
    background: transparent;
}

[contentEditable=false]:empty:not(:focus):before{
    content:attr(placeholder)
}

#descripcion:focus-visible {
    outline: none;
}

#resultadoTextareaComment {
    overflow: auto;
    word-break: break-all;
}

#resultadoTextareaComment > img {
    max-width: 90%;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    background: orange;
    width: 90%;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 10;
}

.btns > button {
    margin: 0 5px;
    border: 1px solid rgb(0 0 0 / 50%);
}


/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
   }


/* Media queries */
@media (max-width: 1075px) {
    .cadaUna > .reciente .abajo {
        flex-direction: column-reverse;
    }
}

@media (max-width: 950px) {
    .cadaUna > .reciente {
        flex-direction: column-reverse;
    }

    .cadaUna > .reciente > .left,
    .cadaUna > .reciente > .resto {
        width: 100%;
    }

    .cadaUna > .reciente .abajo {
        padding-bottom: 10px;
    }
    
    .cadaUna > .reciente .abajo > .fecha {
        margin-top: 10px;
    }

    body.dark .cadaUna > .reciente > .left {
        border-top: 1px solid white;
    }

    .cadaUna > .reciente > .left {
        padding: 10px;
        flex-direction: row;
        border-right: none !important;
        border-top: 1px solid rgb(0 0 0 / 30%);
    }
}

@media (max-width: 830px) {
    .recientes > .reciente {
        width: 95%;
    }

    .recientes > .reciente .abajo {
        flex-direction: column-reverse;
    }
}

@media (max-width: 850px) {

    .toggle {
        display: block;
    }

    .navBar > #enlaces {
        display: none;
    }

    body.dark #enlaces.active {
        background-color: #333;
    }

    #enlaces.active {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #enlaces.active > .enlace {
        margin-bottom: 25px;
    }
}

@media (max-width: 760px) {
    .texts {
        flex-direction: column;
        width: 100%;
    }

    .btns {
        width: 95%;
    }

    #descripcion,
    #resultadoTextarea {
        width: 95%;
    }
}

@media (max-width: 725px) {
    .intro {
        flex-direction: column !important;
    }

    .intro > .left {
        width: 75%;
    }
}

@media (max-width: 630px) {
    .recientes > .reciente {
        flex-direction: column-reverse;
    }

    .recientes > .reciente .abajo {
        padding-bottom: 10px;
    }

    .recientes > .reciente > .left,
    .recientes > .reciente > .resto {
        width: 100%;
    }

    body.dark .recientes > .reciente > .left {
        border-top: 1px solid white;
    }

    .recientes > .reciente > .left {
        padding: 10px;
        flex-direction: row;
        border-right: none !important;
        border-top: 1px solid rgb(0 0 0 / 30%);
    }

    .recientes > .reciente .abajo > .fecha {
        margin-top: 10px;
    }

    .discusiones {
        flex-direction: column;
    }

    .discusiones > .cadaUna,
    .discusiones > .cadaUna .reciente {
        width: 100%;
    }

    .ctgs {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .ctgs > li {
        font-size: 20px;
    }

    .verDiscusion > .top {
        flex-direction: column;   
    }

    .verDiscusion > .top > .infoDeDiscusion,
    .verDiscusion > .top > .autor {
        width: 100%;
    }

    .verDiscusion > .top > .autor {
        align-items: center;
    }

    .comment,
    #deste,
    .escribirComentario > .btns,
    .escribirComentario > .texts textarea,
    .escribirComentario > .texts #resultadoTextarea {
        width: 100%;
    }
}