* {
    margin: 0;
    padding: 0;
}

body.dark {
    background: #333;
    transition: .5s;
    color: white;
}

body.dark .reciente,
body.dark .reciente .left .heart {
    border: 1px solid white;
}

body.dark .reciente .left {
    border-right: 1px solid white;
}

body.dark .abajo {
    border-top: 1px solid white;
}

.hidden {
    display: none !important;
}

.row {
    --bs-gutter-x: 0;
}

/* NavBar */
.navBar.dark {
    background: #555;
    color: white;
}

.navBar.dark > #enlaces > .enlace a {
    color: white !important;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
    transition: .5s;
}

.navBar > #presentacion > .imgLogo {
    width: 100px;
}

.navBar > #presentacion > .marca {
    font-weight: 700;
    font-size: 30px;
}

.navBar > #enlaces {
    display: flex;
    align-items: center;
    margin: 0;
}

.navBar > #enlaces > .enlace {
    list-style: none;
    margin-right: 20px;
}

.navBar > #enlaces > .enlace a {
    text-decoration: none;
    color: black !important;
    font-size: 20px;
    font-weight: 600;
}

.navBar > #enlaces > .enlace button {
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    background: orange;
    color: white;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    font-weight: 700;
}

.enlace > #check {
    display: none;
}

.enlace > .modoOscuro {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #838383;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.modoOscuro::after {
    content: "\f186";
    display: flex;
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

#check:checked + .modoOscuro {
    background: orange;
}

#check:checked + .modoOscuro::after {
    content: "\f185";
    left: 36px;
}

body.dark .toggle {
    background: url(../img/openMoon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/openSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

body.dark .toggle.active {
    background: url(../img/closeMoon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.toggle.active {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/closeSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

/* Foro */
.foro {
    margin-top: 95px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foro.dark > .intro {
    background-color: #a57845;
}

.foro.dark .intro > .left > .buscador {
    background-color: #fff7e666;
}

.foro > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: orange;
    width: 100%;
}

.intro > .left {
    padding: 0 20px;
    margin: 10px 0;
    width: 55%;
    text-align: center;
}

.intro > .left > strong {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.intro > .left > p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.intro > .left > .buscador {
    width: 100%;
    background: #fff7e6;
    padding: 5px;
    border-radius: 5px;
}

.intro > .left > .buscador > i {
    font-size: 20px;
    margin-left: 20px;
    width: 5%;
    cursor: pointer;
    color: black !important;
}

.intro > .left > .buscador > input:focus-visible {
    outline: none;
}

.intro > .left > .buscador > input {
    padding: 5px;
    width: 75%;
    margin-left: 10px;
    font-size: 20px;
    background: transparent;
    border: none;
}

.intro > .right {
    width: 45%;
}

.intro > .right > img {
    width: 100%;
}

.titles {
    text-align: center;
    border-top: 15px solid #ff8d00;
    padding: 10px;
    width: 100%;
    box-shadow: 0px -2px 5px rgb(0 0 0 / 30%);
}

.recientes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.reciente {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid rgb(0 0 0 / 30%);
    box-shadow: 4px 4px 5px rgb(0 0 0 / 30%);
}

.reciente > .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    border-right: 1px solid rgb(0 0 0 / 30%);
}

.left > a > img {
    max-width: 110px;
    max-height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0 / 50%);
}

.left > .heart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.left > .heart > i:hover {
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.left > .heart > i {
    color: red;
    font-size: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: .5s;
}

.left > .heart > span {
    font-size: 20px;
}

.reciente > .resto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    padding: 0 20px;
    width: 75%;
}

.resto > .titulo {
    font-weight: 600;
    font-size: 20px;
    color: orange;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.resto > .contenido {
    margin: 20px 0;
}

.resto > .abajo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
    color: orange;
    padding-top: 10px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    border-top: 1px solid rgb(0 0 0 / 30%);
}

.resto > .abajo > .fecha {
    text-align: center;
}

/* Discusiones */
.discusiones {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.discusiones > .cadaUna {
    width: 75%;
    margin-top: 15px;
}

.discusiones > .cadaUna > .reciente {
    width: 90%;
}

.ctgs {
    width: 25%;
    padding: 10px;
}

body.dark .ctgs > li {
    color: black;
} 

.ctgs > li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background: #ffcb6d;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffcb6d;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    cursor: pointer;
}


/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
   }


/* Media queries */
@media (max-width: 1075px) {
    .cadaUna > .reciente .abajo {
        flex-direction: column-reverse;
    }
}

@media (max-width: 950px) {
    .cadaUna > .reciente {
        flex-direction: column-reverse;
    }

    .cadaUna > .reciente > .left,
    .cadaUna > .reciente > .resto {
        width: 100%;
    }

    .cadaUna > .reciente .abajo {
        padding-bottom: 10px;
    }
    
    .cadaUna > .reciente .abajo > .fecha {
        margin-top: 10px;
    }

    body.dark .cadaUna > .reciente > .left {
        border-top: 1px solid white;
    }

    .cadaUna > .reciente > .left {
        padding: 10px;
        flex-direction: row;
        border-right: none !important;
        border-top: 1px solid rgb(0 0 0 / 30%);
    }
}

@media (max-width: 830px) {
    .recientes > .reciente {
        width: 95%;
    }

    .recientes > .reciente .abajo {
        flex-direction: column-reverse;
    }
}

@media (max-width: 800px) {

    .toggle {
        display: block;
    }

    .navBar > #enlaces {
        display: none;
    }

    body.dark #enlaces.active {
        background-color: #333;
    }

    #enlaces.active {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #enlaces.active > .enlace {
        margin-bottom: 25px;
    }
}

@media (max-width: 725px) {
    .intro {
        flex-direction: column !important;
    }

    .intro > .left {
        width: 75%;
    }
}

@media (max-width: 630px) {
    .recientes > .reciente {
        flex-direction: column-reverse;
    }

    .recientes > .reciente .abajo {
        padding-bottom: 10px;
    }

    .recientes > .reciente > .left,
    .recientes > .reciente > .resto {
        width: 100%;
    }

    body.dark .recientes > .reciente > .left {
        border-top: 1px solid white;
    }

    .recientes > .reciente > .left {
        padding: 10px;
        flex-direction: row;
        border-right: none !important;
        border-top: 1px solid rgb(0 0 0 / 30%);
    }

    .recientes > .reciente .abajo > .fecha {
        margin-top: 10px;
    }

    .discusiones {
        flex-direction: column;
    }

    .discusiones > .cadaUna,
    .discusiones > .cadaUna .reciente {
        width: 100%;
    }

    .ctgs {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .ctgs > li {
        font-size: 20px;
    }
}