* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle, rgba(254,255,0,1) 18%, rgba(255,185,0,1) 62%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > h1 {
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffa500bd;
}

.spinner > i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 92px;
    color: white;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
}

.auth {
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 25px;
    border-radius: 10px;
    background: white;
    margin: 15px;
    box-shadow: 4px 4px 7px rgb(0 0 0 / 50%);
}

.auth {
    width: 410px;
}

.auth > .googleAuth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.auth > .googleAuth > .googleButton {
    width: 100%;
}

.abcRioButton {
    width: 100% !important;
}

.auth > .login {
    text-align: center;
    margin-top: 25px;
}

.auth > .login > button.btn-primary {
    width: 100%;
}

.auth .toggle {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.auth > .register {
    text-align: center;
    margin-top: 20px;
}

.auth > .register > label {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
}

.auth > .register > input[type=file] {
    margin-bottom: 10px;
}

.auth > .register > button.btn-primary {
    width: 100%;
}

.auth > .form > button.btn-primary {
    margin-bottom: 10px;
}

.auth > .form > h3 {
    margin-bottom: 10px;
}