.navBar.dark {
    background: #555;
    color: white;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
    transition: .5s;
}

.navBar > #presentacion > .imgLogo {
    width: 100px;
}

.navBar > #presentacion > .marca {
    font-weight: 700;
    font-size: 30px;
}

.navBar > #enlaces.dark > .enlace a {
    color: white;
}

.navBar > #enlaces {
    display: flex;
    align-items: center;
    margin: 0;
}

.navBar > #enlaces > .enlace {
    list-style: none;
    margin-right: 20px;
}

.navBar > #enlaces > .enlace a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.navBar > #enlaces > .enlace button {
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    background: orange;
    color: white;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    font-weight: 700;
}

.buscador {
    background-color: #00000021;
    padding: 5px;
    border-radius: 10px;
}

.buscador > input:focus-visible {
    outline: none;
}

.buscador > input {
    background: transparent;
    border: none;
}

.enlace > #check {
    display: none;
}

.enlace > .modoOscuro {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #838383;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.modoOscuro::after {
    content: "\f186";
    display: flex;
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

#check:checked + .modoOscuro {
    background: orange;
}

#check:checked + .modoOscuro::after {
    content: "\f185";
    left: 36px;
}

.toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/openSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

.toggle.active {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/closeSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

/* Articulo */
.articulo {
    margin-top: 100px;
}

/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
}



















/* Media queries */
@media (max-width: 800px) {

    .toggle {
        display: block;
    }

    .navBar > #enlaces {
        display: none;
    }

    #enlaces.active {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #enlaces.active > .enlace {
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .footer > .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        padding: 20px;
        border-bottom: 1px solid white;
    }
}