* {
    margin: 0;
    padding: 0;
}

body.dark {
    background: #333;
    color: white;
}

body.dark .categoriasUl > li {
    color: black;
}

body.dark .buscador > input {
    color: white;
}

body.dark .categoriasDeArticulo {
    border-top: 1px solid white;
}

.row {
    --bs-gutter-x: 0;
}

.w0 {
    width: 1% !important;
}

.wC {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary {
    font-weight: 600;
    font-size: 18px;
}

#top {
    margin-top: 20px;
}

#down {
    margin-bottom: 20px;
}

.jC {
    justify-content: center;
}

.hidden {
    display: none !important;
    transition: .5s;
}

/* NavBar */
.navBar.dark {
    background: #555 !important;
    color: white;
}

.navBar.dark .enlace > a {
    color: white !important;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 50%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 50%);
    transition: .5s;
}

.navBar > #presentacion > .imgLogo {
    width: 100px;
}

.navBar > #presentacion > .marca {
    font-weight: 700;
    font-size: 30px;
}

.navBar > #enlaces.dark > .enlace a {
    color: white;
}

.navBar > #enlaces {
    display: flex;
    align-items: center;
    margin: 0;
}

.navBar > #enlaces > .enlace {
    list-style: none;
    margin-right: 20px;
}

.navBar > #enlaces > .enlace a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.navBar > #enlaces > .enlace button {
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    background: orange;
    color: white;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 50%);
    font-weight: 700;
}

.buscador {
    background-color: #00000021;
    padding: 5px;
    border-radius: 10px;
}

.buscador > input:focus-visible {
    outline: none;
}

.buscador > input {
    background: transparent;
    border: none;
    margin-left: 5px;
}

.enlace > #check {
    display: none;
}

.enlace > .modoOscuro {
    font-family: FontAwesome;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: #838383;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    width: 70px;
    height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}

.modoOscuro::after {
    content: "\f186";
    display: flex;
    width: 27px;
    height: 27px;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: .5s;
    align-items: center;
    justify-content: center;
}

#check:checked + .modoOscuro {
    background: orange;
}

#check:checked + .modoOscuro::after {
    content: "\f185";
    left: 36px;
}

.toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/openSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

.toggle.active {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 25px;
    right: 25px;
    background: url(../img/closeSun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10000;
    cursor: pointer;
}

/* Articulo */
.articulo {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.articulo > .contenido {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    box-shadow: inset 1px 1px 10px 2px rgb(0 0 0 / 30%);
}

.articulo > .contenido > .cabecera {
    width: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.articulo > .contenido > .cabecera > img {
    max-width: 500px;
    margin-top: 5px;
}

#titulo.dark {
    background: linear-gradient(to bottom, transparent, #333);
    color: white;
}

.articulo > .contenido > .cabecera > h1 {
    width: 81%;
    transform: translateY(-76%);
    background: linear-gradient(to bottom, #ffffff81, white);
    padding: 10px;
    text-align: center;
}

.articulo > .contenido > .cuerpo {
    width: 95%;
}

.imgTextarea {
    max-width: 90%;
}

.articulo > .contenido > .cuerpo > #fecha {
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}

.categoriasDeArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(0 0 0 / 50%);
    width: 100%;
    padding-top: 5px;
}

.categoriasDeArticulo > p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.articulosUl {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 10px;
}

.articuloLi {
    background: #42a1d0;
    color: white;
    list-style: none;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 354px;
    padding: 10px;
    border: 1px solid rgb(0 0 0 / 30%);
    border-top: 15px solid orange;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.articuloLi.dark {
    background: #356;
    color: white;
}

.articuloLi > .imgDeArticulos {
    max-width: 250px;
    max-height: 180px;
    border-radius: 5px;
}

.articuloLi > .tituloDeArticulos {
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0px;
}

.articuloLi > .contenidoDeArticulos {
    padding: 5px;
    margin: 5px 0px;
}

.articuloLi > .fechaDeArticulos {
    text-align: right;
    font-weight: 600;
    margin-bottom: 10px;
}

.articuloLi > button > a {
    color: inherit;
    text-decoration: none;
}

.articulo > .autor {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.autor > .imagenBox {
    background: #80808059;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.autor > .imagenBox > img {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}

.autor > .imagenBox > span.principal {
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.categoriasUl {
    background: #80808059;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
    border-top: 1px solid rgb(0 0 0 / 50%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.categoriasUl > p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.categoriasUl > li {
    list-style: none;
    background: #b5d3ff;
    margin: 7px 0px;
    border-radius: 10px;
    width: 95%;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.categoriasUl > li > a{
    color: inherit;
    text-decoration: none
}

.alignLeft {
    text-align: left !important;
    margin-bottom: 0;
}

.alignCenter {
    text-align: center !important;
    margin-bottom: 0;
}

.alignJustify {
    text-align: justify !important;
    margin-bottom: 0;
}

.alignRight {
    text-align: right !important;
    margin-bottom: 0;
}

/* Artículos en general */
.articulosEnGeneral {
    margin-top: 95px;
    min-height: 80vh;
}

.articulosEnGeneral > .intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    color: white;
    width: 100%;
    min-height: 330px;
}

.articulosEnGeneral > .intro > .left {
    text-align: center;
    padding: 10px;
}

.intro > .left > h1 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    margin-bottom: 10px;
}


.intro > .left > p {
    font-size: 22px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    padding: 0px 10px;
    text-align: justify;
}

.articulosRow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articulosRow > .titles {
    text-align: center;
    border-top: 15px solid yellow;
    padding: 20px 0px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 0px -3px 4px rgb(0 0 0 / 50%);
    width: 100%;
}

.ultimos3 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
}

.ultimos3 > .articuloUltimo,
.articuloDeCtg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 325px;
    border: 1px solid rgb(0 0 0 / 30%);
    border-top: 10px solid orange;
    margin: 5px 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
    background-color: #42a1d0;
    color: white;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.ultimos3 > .articuloUltimo > img,
.imgDeArticulos {
    max-width: 250px;
    max-height: 180px;
    border-radius: 5px;
}

.ultimos3 > .articuloUltimo > #tituloArticuloCarousel,
.tituloDeArticulos {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0px;
}

.ultimos3 > .articuloUltimo > #descArticuloCarousel,
.contenidoDeArticulos {
    padding: 5px;
    margin-bottom: 10px;
    text-align: justify;
}

.ultimos3 > .articuloUltimo > #fechaArticuloCarousel,
.fechaDeArticulos {
    font-weight: 600;
    text-align: right;
    margin-bottom: 10px;
}

#botonVermas {
    width: 100%;
}

#botonVermas > button {
    width: 100%;
    letter-spacing: 1px;
}

/* Artículos por categoría */
ul.articulosCtgUl {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

li.categoriaLi {
    width: 95%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin: 10px 0px;
    padding: 10px;
    box-shadow: inset 1px 2px 5px 2px rgb(0 0 0 / 30%);
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    background: radial-gradient(circle, transparent, #0000002b);
}

.categoriaLi > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriaLi > .content > h3 {
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.categoriaLi > .content > .descCategoria {
    text-align: center;
    width: 75%;
    margin: 10px 0px;
    font-size: 18px;
}

.articulosDeCtg {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0;
    margin: 15px 0px;
}

.articuloDeCtg {
    margin: 5px 10px;
    height: 490px;
    padding: 7px;
}

.noHay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.noHay > p {
    font-weight: 600;
    font-size: 20px;
}

/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: #474747;
    margin-top: 50px;
    border-top: 20px solid orange;
    color: white;
}

.footer > .row > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 0px;
}

.footer > .row > div > h4 {
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .ayuda > a {
    color: white;
    font-weight: 600;
    margin-bottom: 7px;
}

.footer > .row > .siguenos > .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > .row > .siguenos > .links > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 10px;
}

.footer > .row > .siguenos > .links > a > i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 3px rgb(0 0 0 / 50%);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

.footer > .row > .siguenos > .links > a > i.fa-facebook {
    background-color: #2525b6;
}

.footer > .row > .siguenos > .links > a > i.fa-twitter {
    background-color: #0072ff;
}

.footer > .row > .siguenos > .links > a > i.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer > .row > .elPapi {
    font-weight: 700;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
}

/* Btns Flotantes */
.abrirIconos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 21px;
    right: 23px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    box-shadow: 2px 3px 5px rgb(0 0 0 / 50%);
    background-color: gray;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.abrirIconos.mover {
    bottom: 210px;
}

.btnsFlotantes {
    position: fixed;
    bottom: 77px;
    right: 23px;
}

.btnsFlotantes > i.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 28px;
    color: white;
    background-color: #00a100;
    margin-bottom: 10px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 50%);
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.chatbot {
    position: fixed;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 100000;
}

df-messenger {
    --df-messenger-bot-message: #878fac;
    --df-messenger-button-titlebar-color: #00a100;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #479b3d;
}


























/* Media queries */
@media (max-width: 900px) {
    .articulo {
        flex-direction: column;
    }
    .articulo > .contenido {
        width: 100%;
    }
    .autor {
        width: 100% !important;
    }
    .autor > .imagenBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 850px) {
    .intro {
        flex-direction: column;
        background: url(../img/welcome.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 328px;
    }
    
    .intro > .left {
        backdrop-filter: blur(5px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 460px;
    }
    
    .intro > .left > p {
        padding: 0px 20px;
        margin: 20px 50px;
    }
    
    .intro > .right {
        display: none;
    }
}

@media (max-width: 800px) {

    .toggle {
        display: block;
    }

    .navBar > #enlaces {
        display: none;
    }

    #enlaces.active {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #enlaces.active > .enlace {
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .footer > .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0px;
        padding: 20px;
        border-bottom: 1px solid white;
    }
}